.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  /*background-color: #f9f9f9;*/
}

.message {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: end;
}

.message {
  /*background-color: #d1e7dd;*/
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.message.bot {
  /*background-color: #f8d7da;*/
  /* align-self: flex-end; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
form {
  width: 100%;
}
.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: relative;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
}

.sendBtn {
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.uploadBtn {
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.upImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  border: 1px solid black;
  right: 150px;
  bottom: 90px;
}
